<div class="container-fluid">
  <div class="row">
    <header class="col-md-12">
      <h1 class="text-center">
        {{title}}
      </h1>
    </header>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <h4 class="h4 card-header text-success">
          Player <span class="badge badge-success">{{ scoresArray[0] }}</span>
        </h4>
        <div class="card-body">
          <button id="p_rock" (click)="chooseItem(0)" name="p_rock" class="btn btn-success btn-lg mx-1"><span class="fa fa-hand-rock-o"></span></button>
          <button id="p_paper" (click)="chooseItem(1)" name="p_paper" class="btn btn-success btn-lg mx-1"><span class="fa fa-hand-paper-o"></span></button>
          <button id="p_scissors" (click)="chooseItem(2)" name="p_scissors" class="btn btn-success btn-lg mx-1"><span class="fa fa-hand-scissors-o"></span></button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <h4 class="h4 card-header text-danger">
          Computer <span class="badge badge-danger">{{ scoresArray[1] }}</span>
        </h4>
        <div class="card-body text-danger">
          <div *ngIf="computerSelected !== -1" class="flex-container flex-center" >
            <i *ngIf="computerSelected === 0" class="fa fa-hand-rock-o"></i>
            <i *ngIf="computerSelected === 1"  class="fa fa-hand-paper-o"></i>
            <i *ngIf="computerSelected === 2" class="fa fa-hand-scissors-o"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isResultShow" class="result">
    <div [ngSwitch]="theResult">
      <ng-template [ngSwitchCase]= "0"> <h1> You're the winner! </h1></ng-template>
      <ng-template [ngSwitchCase]= "1"> <h1> You lose. </h1> </ng-template>
      <ng-template [ngSwitchCase]= "2"> <h1> It's a tie! </h1> </ng-template>
      <ng-template ngSwitchDefault> </ng-template>
    </div>
    <p> Pick again to continue or </p>
    <button (click)="resetScores()" class="btn btn-primary">Reset score</button>
  </div>

</div>